root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.py]
indent_styke = space

[*.{yml,yaml,yml.j2,yaml.j2}]
max_line_length = 100
indent_size = 2
